html, 
body{
    margin: 0;
    /* min-width: 100vw; */
    height: 100%;
    /* max-width: 100vw; */
    /* overflow: hidden; */
    overflow-x: hidden;
}

body{
    box-sizing: border-box;
    /* min-height: 100vh; */
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    gap: 5%;

    position: relative;

    padding: 80px;
    background-color: #333;
    background-image: url(img/anime-night.jpg);
    backdrop-filter: blur(5px);
    color: white;
}

body *{
    z-index: 200;
}

body::after{
    content: '';
    position: absolute;
    z-index: 0;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

.usuario-boton:active{
    transform: scale(0.8);
}

.usuario-boton-ocultar{
    opacity: 0;
    display: none;
}

.caja-buscar{
    position: absolute;
    
    top: 100%;
    right: 0;

    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    /* transform: translateY(-100%) scale(0.9); */

    border-radius: 6px 0 6px 6px;
    pointer-events: none;
    clip-path: inset(0 0 100% 80%);
    opacity: 0.8;
    transition: clip-path 0.4s ease, opacity 0.4s ease;
    /* transform: scaleY(0.8) scaleX(0.8);
    transform-origin: top right;
    transition: transform 0.4s ease, clip-path 0.4s ease, opacity 0.4s ease; */
    
    z-index: 500;
}

.caja-buscar-mostrar{
    clip-path: inset(0 0 0 0);
    opacity: 1;
    pointer-events: auto;
    transform: scaleY(1)
}

/* .buscar-lupa:hover + .caja-buscar{
    clip-path: inset(0 0 0 0);
} */

.caja-padre-buscar{
    display: flex;
    position: relative;
    flex-direction: row;

    padding: 10px 0;
    /* border-radius: 6px 6px 0 0; */
    /* transition: background-color 0.4s ease; */
}

.caja-padre-buscar::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px 6px 0 0;
    
    clip-path: inset(100% 0 0 0);
    opacity: 0.8;
    transition: clip-path 0.4s ease, opacity 0.4s ease;
}

.caja-padre-buscar-mostrar::after{
    /* border-radius: 6px 6px 0 0; */
    opacity: 1;
    clip-path: inset(0 0 0 0);
}

/* .caja-padre-buscar-mostrar{
    background-color: rgba(255, 255, 255, 0.2);
} */

/* .caja-padre-buscar:hover{
    background-color: rgba(255, 255, 255, 0.2);
} */

.caja-padre-buscar h4{
    margin: 0;
    padding: 0 0 5px 0;
}

.input_para_buscar{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;

    padding: 3px;
}

.input_para_buscar:focus{
    outline: none;
    border: none;
}

.lista-ul_buscar{
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 10px 0 0;
}

.lista-ul_buscar li{
    /* background-color: rgba(255, 255, 255, 0.2); */
    width: fit-content;
    padding: 2px;
    color: rgba(255, 255, 255, 0.8);

    font-size: 14px;
    cursor: pointer;
}

.caja-padre-usuario{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    transform: translateX(100%) scale(0.8);
    opacity: 0;

    transition: transform 0.4s ease, opacity 0.4s ease;
    pointer-events: none;

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 20px;

    z-index: 1000;
}

.caja-padre-usuario-mostrar{
    transform: translateX(0) scale(1);
    opacity: 1;
    pointer-events: auto;
}

.perfil-usuario{
    width: 60px;
    aspect-ratio: 1/1;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.caja-padre-usuario section{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.08);
    padding: 10px;
    border-radius: 10px;
}

.caja-padre-usuario .usuario-nombre, .usuario-gmail{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 4px;
    color: transparent;

    border-radius: 7px;
}
.caja-padre-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.prueba-div{
    width: 100%;
    height: 20px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.footer-div{
    width: 80%;
    height: 30px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    margin-top: auto;
}

.caja-1{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    height: 100%;
    gap: 20px;

    padding: 20px;
    background-color: rgba(255, 255, 255, 0.08);   
    border-radius: 20px;
}

.portada-principal-div{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;

    background-color: rgb(181, 118, 177);
    border-radius: 15px;
    overflow: hidden;
}

#portada-principal-img{
    width: 100%;
    height: 100%;

    z-index: 24;
}

/* .portada-principal-div::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5) inset;
    z-index: 30;
} */

h1, 
h2, 
h3,
h4,
p{
    margin: 0;
}

#caja-1-nombre{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#caja-1-artista{
    /* font-size: 1rem; */
    font-style: italic;
    font-weight: normal;
}

#caja-1-nombre, #caja-1-artista{
    text-align: center;
}

.nombre-y-artista{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#controles{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.botones{
    /* width: 40px;
    height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;

    cursor: pointer;
    transition: scale 1s ease;
}

/* .boton-p{
    background-color: transparent;
} */

.botones:active{
    transform: scale(1.1);
}

/* .botones:hover{
    scale: 1.1;
} */

#boton-volumen{
    position: relative;
    /* line-height: 1;
    vertical-align: middle; */
}

#boton-repetir{
    font-size: 26px;
}

.barra-y-tiempo{
    display: flex;
    align-items: center;
    gap: 5px;
}

#barra-de-progreso{
    width: 100%;
    height: 5px;
    appearance: none;

    background-color: rgb(204, 30, 71);
    border-radius: 10px;

    cursor: pointer;
}

#barra-de-progreso::-webkit-slider-thumb{
    appearance: none;
    width: 10px;
    aspect-ratio: 1/1;

    background-color: rgb(204, 30, 71);
    border-radius: 50%;
    outline: 2px solid rgba(233, 129, 154, 0.6);

}

#barra-de-progreso::-webkit-slider-thumb:hover{
    transform: scale(1.2);
    box-shadow: 0 0 5px 4px rgba(233, 129, 154, 0.6);
}

.volumen-input{
    opacity: 0;
    visibility: hidden;
    /* display: none; */
    position: absolute;
    appearance: none;
    transform: rotate(270deg); 
    transform-origin: bottom right;
    /* transform: rotate(270deg); */
    width: 80px;
    height: 3px;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 7px;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;


    bottom: 80px;
    right: 0;
    /* clip-path: inset(0 0 0 100%);
    transition: clip-path 0.4s ease; */
    margin: 0;
}

.volumen-input-mostrar{
    /* display: flex;
    opacity: 1;
    cursor: pointer; */
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    cursor: pointer;
}

.valor_del_volumen{
    opacity: 0;
    /* width: 20px;
    aspect-ratio: 1/1; */
    
    font-size: 12px;
    position: absolute;
    pointer-events: none;
    
    top: calc(-50%);
    /* transition: opacity 0.2s ease; */
}


.valor_del_volumen-activ{
    opacity: 1;
}
/* .volumen-input-mostrar:hover, #valor_del_volumen{
    opacity: 1;
} */

#volumen-input:hover ~ #boton-volumen #valor_del_volumen {
    opacity: 1;
}

#volumen-input::-webkit-slider-thumb{
    appearance: none;
    width: 14px;
    aspect-ratio: 1/1;
    
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    /* outline: 2px solid rgba(255, 255, 255, 0.6); */
}

/* .volumen-input::-webkit-slider-runnable-track{
    background: rgba(255,255,255,0.2);
} */

.caja-2{
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 70%;
    height: 100%;

    /* background-color: rgba(137, 43, 226, 0.5); */
}


/* !Caja 2: */
.caja-2-opciones-arriba{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.caja-2-opciones-arriba button{

    color: white;
    background-color: transparent;
    border: none;
    font-size: 1rem;

    cursor: pointer;
}


#idioma{
    margin-left: auto;
    font-weight: bold;
}

.buscar-lupa:active{
    transform: scale(1.1);
}

.cosas-sobre-el-web{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.cosas-sobre-el-web h1{
    font-size: 5rem;
}

#cerrar-caja-lista-musica{
    display: inline-block;
    width: 50px;
    height: 20px;

    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
}

#cerrar-caja-lista-musica:active{
    transform: scale(1.1);
}

/* #icono-lista:active{
    transform: scale(1.1);
} */

.caja-lista-musica{
    position: fixed;
    /* display: flex;
    flex-direction: column; */
    width: max-content;
    /* inset: 0 0 0 auto; */
    top: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    text-align: center;

    pointer-events: none;

    /* right: -100%; */

    transform: translateX(100%) scale(0.9);
    opacity: 0;
    transition:  transform 0.4s ease, opacity 0.4s ease;
    /* clip-path: inset(0 0 0 100%);
    transition: clip-path 0.4s ease; */

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 20px;

    overflow-y: auto;
    z-index: 500;
}

.caja-lista-musica-mostrar{
    transform: translateX(0) scale(1);
    opacity: 1;
    pointer-events: auto;

    z-index: 200;
}

/* .caja-lista-musica-mostrar{
    transform: translateX(0) scale(1); 
} */

/* .caja-lista-musica{
    clip-path: inset(0 0 0 0);
} */
.lista-musica-de-todo{
    cursor: pointer;
    transition: opacity 0.4s ease, transform 0.4s ease;

    z-index: 200;
}

.lista-musica-de-todo:active{
    transform: scale(0.8);
}

.lista-musica-de-todo-ocultar{
    opacity: 0;
    display: none;
}

.oculatar_boton_lista{
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
}

.lista-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 0;
    margin: 0;
}

.lista-ul li{
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;

    font-size: 0.8rem;
}

.sub-caja-lista-musica{
    /* padding-top: 10px; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.sub-caja-lista-musica-2 h2{
    padding: 15px 0 5px 0;
}

::-webkit-scrollbar{
    appearance: none;
    width: 10px;
    /* display: none; */
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    /* background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(255, 0, 0, 0.3)); */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    cursor: pointer;
}

/* ::-webkit-scrollbar-button{
    background-color: blueviolet;
} */






.caja-lista{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-caja-lista{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.play-list{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    gap: 14px;

    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    padding: 15px 15px 10px 15px;

}

/* .play-list:hover{
    box-shadow: 0 0 2px 2px rgba(183, 57, 203, 0.3);
} */

.play-list-selecion{
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2);
}

.play-list .caja-de-las-subcajas1{
    /* flex: 1;
    aspect-ratio: 1/1; */
    position: relative;
    max-height: calc(100% - 30px);
    height: 100%;
    aspect-ratio: 1/1;

    /* background-color: blue; */
    /* border-radius: 15px; */
    background-image: url();
}


.caja-de-las-subcajas1 .track1{
    position: absolute;
    inset: 0;

    border-radius: 10px;

    overflow: hidden;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.8);

    cursor: pointer;
}

.track1 img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    /* border: 2px solid rgb(226, 92, 92); */
    /* box-shadow: 5px 0 0 0 black; */
}

.track1.anime{
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* .aaa{
    transform: translateY(5px) scaleX(0.9);
} */

.play-list p{
    margin: 0;
    height: 20px;

    justify-content: flex-end;
}

@media (max-width: 720px) {
    body{
        flex-direction: column;
        padding: 20px;
    }
}